body {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f9fa;
}

.navbar {
  border-radius: 0 0 20px 16px;
}

.navbar-brand {
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-link {
  font-weight: 500;
  margin: top 50px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
}

.card {
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

h3, h4 {
  font-weight: 600;
}
