body {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f9fa; /* biar lembut */
}

.card {
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

h3, h5 {
  font-weight: 600;
}

.table th {
  font-weight: 600;
}

.table thead {
  background-color:#e3d2e9 ; 
  color: white;
}


.btn {
  font-weight: 500;
  letter-spacing: 0.3px;
}

.btn-outline-secondary:hover {
  background-color: #0d6efd;
  color: #fff;
}

#btnTambah {
  background-color: #e3d2e9;
  color: white;
  border: none;
  border-radius: 8px;
}
#btnTambah:hover {
  background-color: #aa8ab6;
  color: black;
}
