body {
  font-family: "Google Sans Code", monospace !important;
}

body {
  background: linear-gradient(135deg, #e3f2fd, #fce4ec);
  min-height: 100vh;
}

.form-card {
  width: 400px;
  border-radius: 20px;
  animation: fadeIn 0.8s ease-in-out;
}

.text-black {
  color: black !important;
}

.btn-primary {
  background: #e3d2e9;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  transition: 0.3s;
  color: black;
}

.btn-primary:hover {
  background: #b9a0c3;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px 12px;
}

.form-control:focus {
  border-color: #e3d2e9;
  box-shadow: 0 0 8px rgba(66, 165, 245, 0.3);
}

.alert {
  border-radius: 10px;
  padding: 10px 15px;
}

.btn-link {
  color: black;
  font-size: 0.9rem;
  transition: color 0.2s ease-in-out;
}

.btn-link:hover {
  color: #aa8ab6;
  text-decoration: underline;
}

.modal-content {
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
